   .box-size {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
        }

        .bd-hide {
            display: none;
        }

        .bd-reward-stl {
            font-family: "microsoft yahei";
            text-align: center;
            background: #f1f1f1;
            padding: 10px 0;
            color: #666;
            margin: 20px auto;
            width: 90%;
        }

        #bdRewardBtn {
            border: 0;
            outline: 0;
            border-radius: 100%;
            padding: 0;
            margin: 0;
        }

            #bdRewardBtn span {
                display: inline-block;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                line-height: 58px;
                color: #fff;
                font: 400 25px/50px 'microsoft yahei';
                background: #FEC22C;
            }

            #bdRewardBtn:hover {
                cursor: pointer;
            }

        .bd-dialog {
            z-index: 9999;
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            border: 1px solid #d9d9d9;
        }

            .bd-dialog .bd-close-dialog {
                position: absolute;
                top: 15px;
                right: 20px;
                font: 400 24px/24px Arial;
                width: 20px;
                height: 20px;
                text-align: center;
                padding: 0;
                cursor: pointer;
                background: transparent;
                border: 0;
                -webkit-appearance: none;
                font-weight: 700;
                line-height: 20px;
                opacity: .2;
                filter: alpha(opacity=20);
            }

                .bd-dialog .bd-close-dialog:hover {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                    opacity: .4;
                    filter: alpha(opacity=40);
                }

        .bd-dialog-bg {
            position: absolute;
            opacity: .3;
            filter: alpha(opacity=30);
            background: #000;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .bd-dialog-content {
            font-family: 'microsoft yahei';
            font-size: 14px;
            color: #000;
            background-color: #FFF;
            position: fixed;
            padding: 0 20px;
            z-index: 10000;
            overflow: hidden;
            border-radius: 6px;
            -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.3);
            -moz-box-shadow: 0 3px 7px rgba(0,0,0,.3);
            box-shadow: 0 3px 7px rgba(0,0,0,.3);
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        .bd-dialog-pc {
            width: 390px;
            height: 380px;
            top: 50%;
            left: 50%;
            margin: -190px 0 0 -195px;
        }

        .bd-dialog-wx {
            width: 90%;
            height: 290px;
            top: 50%;
            margin-top: -145px;
            margin-left: 5%;
        }

        .bd-dialog-content-pc-title {
            text-align: left;
            font-size: 15px;
            height: 20px;
            line-height: 20px;
            font-weight: 700;
            margin: 25px 0;
            padding: 0;
            color: #555;
        }

        .bd-dialog-content-wise-title {
            font-size: 17px;
            height: 22px;
            line-height: 22px;
            margin: 14px 0;
            padding: 0;
            color: #000;
        }

        .bd-payment-way {
            text-align: left;
        }

            .bd-payment-way label {
                cursor: pointer;
                font-weight: 400;
                display: inline-block;
                font-size: 14px;
                margin: 0 30px 0 0;
                padding: 0;
            }

            .bd-payment-way input[type=radio] {
                vertical-align: middle;
                margin: -2px 5px 0 0;
            }

        .bd-payment-img {
            margin: 15px 0;
            text-align: center;
        }

        p.bd-pay-info {
            font-size: 15px;
            margin: 0 0 10px;
        }

        .bd-pay-money {
            font-size: 14px;
            margin-top: 10px;
        }

            .bd-pay-money p {
                margin: 0;
            }

            .bd-pay-money .bd-pay-money-sum {
                margin-bottom: 4px;
            }

        .bd-payment-img img {
            margin: 0 auto;
        }

        .bd-payment-img #qrCode_1 {
            display: none;
        }

        .bd-payment-img .qrcode-border {
            margin: 0 auto;
        }

        .bd-payment-img .qrcode-tip {
            position: relative;
            margin: 0 auto;
            font-size: 12px;
            font-weight: 700;
            background: #fff;
            height: 15px;
            line-height: 15px;
            margin-top: -12px;
        }

        #qrCode_0 .qrcode-tip {
            color: #e10602;
        }

        .bd-payment-img #qrCode_2 {
            display: none;
        }

        #qrCode_2 .qrcode-tip {
            color: #3caf36;
        }

        .wx_qrcode_container {
            text-align: center;
        }

            .wx_qrcode_container img {
                width: 200px;
            }

            .wx_qrcode_container p {
                font-size: 14px;
                height: 20px;
                line-height: 20px;
                margin: 0;
                padding: 0;
            }
